<app-internal-nav></app-internal-nav>
<div class="container m-26-p-15 mt-5">
  <div class="row">
    <div class="mb-3 card-group">


      <form class="container card">

        <div class="row card-header">
          <div class="col-12">
            <h3>Cash Drop</h3>
            <h5>Enter the target balance and submit to confirm a cash drop</h5>
          </div>
        </div>

        <div class="card-body">

          <div class="row">
            <div class="col-sm-6">
              <label for="dropForm" class="form-label">Current Balance</label>
            </div>
            <div class="col-sm-6 display-currency" id="currency-align">{{getCurrentBalance()}}</div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <label for="dropForm" class="form-label">Target Balance</label>
            </div>
            <div class="col-sm-6">
              <input matInput currencyMask id="dropForm" class="form-control" [formControl]="dropForm">
            </div>
          </div>
          <div class="row card-body justify-content-center">
            <div class="col-sm-4 " style="text-align: center">
              <td class="alert alert-primary" style="width:1000px " *ngIf="hasSubmittedReBalance" role="alert">
                <span style="color: #42A948; font-size: medium;font-weight: bold">Loading</span>
              </td>
            </div>
          </div>
          <div class="row card" *ngIf="isDropped">
            <div class="col-sm-12 card-body">{{getDropHint()}}</div>
          </div>
        </div>

        <div class="row card-footer">
          <div class="col-sm-12">
            <button class="btn btn-primary happy-sm-btn" (click)="dropCash()"
                    [disabled]="dropForm.invalid || !dropForm.touched || !isValidDrop() ">
              <i class="bi bi-cash-stack"></i> Drop {{getDifference()}}
            </button>
          </div>
        </div>
    </form>


      <form class="container card" [formGroup]="balanceForm">

        <div class="row card-header">
          <div class="col-12">
            <h3>Balance Wallet</h3>
            <h5>Enter the count of each denomination to update your current wallet balance</h5>
          </div>
        </div>

        <div class="card-body">

          <div class="row">
            <div class="col-sm-4">
              <label for="hundreds" class="form-label">Hundreds</label>
            </div>
            <div class="col-sm-4">
              <input type="number" id="hundreds" class="form-control" formControlName="hundreds">
            </div>
            <div class="col-sm-4 display-currency">{{getHundredsValue()}}</div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label for="fifties" class="form-label">Fifties</label>
            </div>
            <div class="col-sm-4">
              <input type="number" id="fifties" class="form-control" formControlName="fifties">
            </div>
            <div class="col-sm-4 display-currency">{{getFiftiesValue()}}</div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label for="twenties" class="form-label">Twenties</label>
            </div>
            <div class="col-sm-4">
              <input type="number" id="twenties" class="form-control" formControlName="twenties">
            </div>
            <div class="col-sm-4 display-currency">{{getTwentiesValue()}}</div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label for="tens" class="form-label">Tens</label>
            </div>
            <div class="col-sm-4">
              <input type="number" id="tens" class="form-control" formControlName="tens">
            </div>
            <div class="col-sm-4 display-currency">{{getTensValue()}}</div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label for="fives" class="form-label">Fives</label>
            </div>
            <div class="col-sm-4">
              <input type="number" id="fives" class="form-control" formControlName="fives">
            </div>
            <div class="col-sm-4 display-currency">{{getFivesValue()}}</div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label for="ones" class="form-label">Ones</label>
            </div>
            <div class="col-sm-4">
              <input type="number" id="ones" class="form-control" formControlName="ones">
            </div>
            <div class="col-sm-4 display-currency">{{getOnesValue()}}</div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label for="dollarCoins" class="form-label" >Dollar Coins</label>
            </div>
            <div class="col-sm-4">
              <input type="number" id="dollarCoins" class="form-control" formControlName="dollarCoins">
            </div>
            <div class="col-sm-4 display-currency">{{getDollarCoinsValue()}}</div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label for="halfDollars" class="form-label" >Half Dollars</label>
            </div>
            <div class="col-sm-4">
              <input type="number" id="halfDollars" class="form-control" formControlName="halfDollars">
            </div>
            <div class="col-sm-4 display-currency">{{getHalfDollarsValue()}}</div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label for="quarters" class="form-label">Quarters</label>
            </div>
            <div class="col-sm-4">
              <input type="number" id="quarters" class="form-control" formControlName="quarters">
            </div>
            <div class="col-sm-4 display-currency">{{getQuartersValue()}}</div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label for="dimes" class="form-label">Dimes</label>
            </div>
            <div class="col-sm-4">
              <input type="number" id="dimes" class="form-control" formControlName="dimes">
            </div>
            <div class="col-sm-4 display-currency">{{getDimesValue()}}</div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label for="nickels" class="form-label">Nickels</label>
            </div>
            <div class="col-sm-4">
              <input type="number" id="nickels" class="form-control" formControlName="nickels">
            </div>
            <div class="col-sm-4 display-currency">{{getNickelsValue()}}</div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label for="pennies" class="form-label">Pennies</label>
            </div>
            <div class="col-sm-4">
              <input type="number" id="pennies" class="form-control" formControlName="pennies">
            </div>
            <div class="col-sm-4 display-currency">{{getPenniesValue()}}</div>
          </div>

          <div class="row card-body">
            <div class="col-sm-6"></div>
            <div class="col-sm-6 display-currency" id="total-amount">Total: {{getFormTotal()}}</div>
          </div>

          <div class="row card-body justify-content-center">
            <div class="col-sm-4 " style="text-align: center">
              <td class="alert alert-primary" style="width:1000px " *ngIf="hasSubmittedUpdate" role="alert">
              <span style="color: #42A948; font-size: medium;font-weight: bold">Loading</span>
              </td>
            </div>
          </div>
        </div>

        <div class="row card-footer">

          <div class="col-6">
            <button type="submit" [disabled]="balanceForm.invalid || !balanceForm.touched"
                    class="btn btn-primary happy-btn" (click)="updateBalance()" >
              Balance <i class="bi bi-cash-stack"></i>
            </button>
          </div>

          <div class="col-6">
            <button type="submit" [disabled]="!balanceForm.touched" class="btn btn-secondary happy-btn">
              Reset Form <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>

        </div>

      </form>


    </div>
  </div>
</div>
